{
    "YANDEX_OAUTH": "YOUR_OAUTH_TOKEN",
    "YANDEX_LAMP_IDS": [
      "XXXXXXXXX-EXAMPLE-BULB-ID-XXXXXXXXXXXX",
      "XXXXXXXXX-EXAMPLE-BULB-ID-XXXXXXXXXXXX",
      "XXXXXXXXX-EXAMPLE-BULB-ID-XXXXXXXXXXXX",
      "XXXXXXXXX-EXAMPLE-BULB-ID-XXXXXXXXXXXX",
      "XXXXXXXXX-EXAMPLE-BULB-ID-XXXXXXXXXXXX",
      "XXXXXXXXX-EXAMPLE-BULB-ID-XXXXXXXXXXXX",
      "XXXXXXXXX-EXAMPLE-BULB-ID-XXXXXXXXXXXX"
    ]
  }
  